.side-bar
  .side-bar__user-name
    .side-bar__user-name__box
      .side-bar__user-name__box__name
        =current_user.name
      .side-bar__user-name__box__menu
        .side-bar__user-name__box__menu__new-group
          =link_to new_group_path do
            =icon('fas', 'edit')
        .side-bar__user-name__box__menu__edit-user
          =link_to edit_user_path(current_user) do
            =icon('fas', 'cog', class: 'icon')

        
  .side-bar__group-list
    .side-bar__group-list__box
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .seid-bar__group-list__name
            = group.name
          .side-bar__group-list__box__message
            メッセージはまだありません。
